<br>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around">
    <div fxFlex="48" class="h-100">
        <app-table-top-bar-one></app-table-top-bar-one>
        <ng-container *ngIf="isList | async; else elseTemplate">
            <div class="w-100 soft-border" style=" overflow-y: scroll; height: 35em; padding: .5em 0;">
                <app-section-space [title]="'Showcase'" [height]="'11.5em'"  >
                    <div class="w-100">
                        <app-products-carousel  [type]="'pc'"
                        [products]="showcase | async"></app-products-carousel>
                    </div>
                </app-section-space>
                <app-section-space [title]="'Menu'" [height]="'11.5em'" class="w-100" >
                    <app-rows-expandables class="w-100"></app-rows-expandables>
                </app-section-space>
            </div>
        </ng-container>
        <ng-template #elseTemplate>
            <app-table [displayedColumns]="columnsTableOne" [hasSelection]="'alert'" [dataSourceCarrefour]="TableTypeOrders" ></app-table>
        </ng-template>
    </div>
    <div fxFlex="48" >
        <app-flatcard>
            <app-long-header [longHeaderData]="true"  [buttonsrow]="buttonsRow" [isCounter]="true" ></app-long-header>
            <app-table [displayedColumns]="columnsTableTwo" [hasSelection]="'Remove'" [dataSourceCarrefour]="TableTypeItems" ></app-table>
            <app-counter-footer></app-counter-footer>
        </app-flatcard>
    </div>
</div>
