.mat-dialog-title { 
    text-align: center;
    background-color: crimson;
    color: white;
    margin: 0;
    font-weight: 700;
    padding-left: 1em;
}
h4{
    font-weight: 500;
}
.comment{
        font-weight: 500;
        margin: 16px 0 0;
}

.whole-padding{
    padding: .5em 1.5em 1.5em;
}
.partial-padding{
    padding: .5em 2em;
}