.mat-list-base{
    overflow: auto;
}
.mat-list-item{
    /*height: 2em !important;*/
    margin-bottom: 1em!important;
}

.label-opt{
    display: block;
    margin-right: 1em;
    font-size: .7em;
    width: 100%;
}

.h-250{
        height: 250px !important;
    }
.h-170{
        height: 170px !important;
    }
input{
    min-height: 0 !important;
}

.notify{
  font-size: 13px;
}

@media (max-width: 375px) {
  .label-opt{
    line-height: 14px;
  }
}
