<h5 mat-dialog-title >{{'Receipt'}}</h5>

<div [class]="'whole-padding'"
fxLayout="column" 
fxLayoutAlign="center" >
    <div fxLayout="row" fxLayoutAlign="center start" class="w-100" >
        <div class="w-100" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1em">
            <ng-container *ngIf="crossroads |async; else elseTemplate">
                <app-receipt-template ></app-receipt-template>
            </ng-container>
            <ng-template #elseTemplate>
                <app-labels></app-labels>
            </ng-template>
            
            <div fxLayout="row" fxLayoutAlign="center center"
            fxLayoutGap="20px"
            class="w-100" >
                <app-pillbutton
                (click)="close()"
                [item]="cancelButton" >
                </app-pillbutton>
            </div>
        </div>
    </div>
</div>