<app-section-space 
[additionalClass]="'scroll-y'"  [height]="'26em'"
[title]="!(category | async).PC?(category | async)[0].ParentCategoryName:(category | async).ParentCategoryName + ' ' + (category | async).category_Name " 
class="w-100"  >
    <ng-container *ngIf="(category | async).PC; else elseTemplate">
        <div *ngFor="let couple of (category | async)['PC']" 
        fxLayout="row" 
        style="margin-bottom: 15px;"
        class="w-100"
        fxLayoutAlign="space-between start" >
        {{(category | async).id}}
            <app-item-card 
            fxFlex="48"
            *ngFor="let product of couple; let i = index" 
            [position]="0"
            [category_id]="(category | async).category_id"
            [product]="product" ></app-item-card>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <app-rows-expandables class="w-100" ></app-rows-expandables>
    </ng-template>
    
</app-section-space>