$md-apitap: (
    50 : #e1e8ed,
    100 : #b3c5d1,
    200 : #809eb3,
    300 : #4d7794,
    400 : #27597d,
    500 : #013c66,
    600 : #01365e,
    700 : #012e53,
    800 : #012749,
    900 : #001a38,
    A100 : #6ea1ff,
    A200 : #3b80ff,
    A400 : #085fff,
    A700 : #0053ee,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);